{% extends 'base.html.twig' %}

{% block title %}Edit an Ingredient{% endblock %}

{% block body %}
    <h1>Edit this Ingredient</h1>

    {{ include('ingredients/_form.html.twig', {'button_label': 'Update'}) }}



    {{ include('ingredients/_delete_form.html.twig') }}
{% endblock %}
