{% extends 'base.html.twig' %}

{% block title %}New Ingredient{% endblock %}

{% block body %}
    <h1>Add a new Ingredient</h1>

    {{ include('ingredients/_form.html.twig') }}

    <a href="{{ path('ingredients_index') }}">Back to list</a>
{% endblock %}
