{% extends 'base.html.twig' %}

{% block title %}Ingredients Menu{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('RecipesMenu') }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}

    <div>
        <div class ="row">
            <div class="col s12 l3 category">
                <h1>Category</h1>
                <ul>
                    <li class="col s2 l12 active"><a href="#">All</a></li>
                    <li class="col s5 l12"><a href="#">Meat/Fish</a></li>
                    <li class="col s5 l12"><a href="#">Fruits/Vegetables</a></li>
                    <li class="col s5 offset-s2 l12"><a href="#">Dairy products</a></li>
                    <li class="col s5 l12"><a href="#">Grocery</a></li>
                </ul>
            </div>

            <div class="col s12 l9 list container">
                <div>
                    <div class="searchbar input-field">
                        <i class="material-icons prefix">search</i>
                        <label for="search" hidden>Search</label>
                        <input id="search" type="text" placeholder="type your search here...">
                    </div>
                </div>

                <div class="row items">
                    {% for i in 1..ingredients %}
                        <div class="col s10 offset-s1 m6 l4">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img src="/pictures/Recipes.png" alt="Recipes picture">
                                </div>
                                <div class="card-action">
                                    <a href="#{{ i }}" class="card-title">Title</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pageSelection center-align col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3">
                    <ul class="pagination">
                        <li class="ArrowPrevious"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="waves-effect active"><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!">5</a></li>
                            <li class="waves-effect"><a href="#!">6</a></li>
                            <li class="waves-effect"><a href="#!">7</a></li>
                            <li class="waves-effect"><a href="#!">8</a></li>
                            <li class="waves-effect"><a href="#!">9</a></li>
                        <li class="ArrowNext"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{ encore_entry_script_tags('RecipesMenu') }}
{% endblock %}
