{% extends 'base.html.twig' %}

{% block title %}Recipes Menu{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('RecipesDetails') }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s4 center-align leftMenu">
            <img src="/pictures/BrusselSprouts.png">
            <div class="row">
                <a class="waves-effect waves-light btn-large col s6 offset-s3 active" href="#">Instructions</a>
                <a class="waves-effect waves-light btn-large col s6 offset-s3" href="#">Ingredients</a>
                <a class="waves-effect waves-light btn-large col s6 offset-s3" href="#">Comments</a>
            </div>
        </div>

        <div class="col s8 embed">
            {% block content %}
                {% embed "recipes_details/instructions.html.twig" %}

                {% endembed %}
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('RecipesDetails') }}
{% endblock %}
