@import 'const.scss';

html{
  font-family: Lato, Roboto;
  }

#topbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0px;

    a{
      color: $main-orange;
      font-size: 1.5rem;
      font-weight: bold;
      vertical-align: bottom;
    }

    #appTitle {
      font-size: 3.5rem;
      font-family: Dancing Script;
      padding-left: 1rem;

      #textTitle {
        padding-left: 1rem;
        }
      }

    #rightOptions *{
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

nav{
  color: $main-orange;
  }

.nav-wrapper{
    background-color: $main-orange;
    font-weight: bold;
    a {
      font-size: 1.5rem;
    }
  }





