@import 'const.scss';

.leftMenu{
    margin-top: 10px;

    h1{
        color: black;
        font-size: 1.5rem;
        filter: drop-shadow(10px 5px 5px black);
        text-align: center;
    }

    img{
        border-radius: 20px !important;
    }

    .navigationBtn {
        a {
            margin-top: 10px;
            background-color: $main-orange;
            border-radius: 20px;

            &:hover, &:focus, &.active {
                background-color: darken($main-orange, 20%);
            }
        }
    }

    .backBtn{
        a{
            margin-top: 50px;
            background-color: grey;
            border-radius: 20px;

            &:hover{
                background-color: darken(grey,20%);
            }
        }
    }
    .CRUD {
        margin-top: 50px;

        a{
            margin-top: 10px;
            background-color: darken(cyan,10%);
            border-radius: 20px;

            &:hover{
                background-color: darken(cyan,30%);
            }
        }
    }


}

#details {
    scroll-behavior: smooth;
    margin-top: 10px;
    padding-top: 0;
    max-height: 80vh;
    overflow: auto;

    h2{
        font-size: 2rem;
    }

    #Instructions{
        h2{
            margin-top: 0;
        }

        .instructionNumber{
            text-align: center;
            font-size: 2rem;
            line-height: 1rem;
            padding: 0px;
            font-weight: bold;
        }

        .instructionContent{
            text-align: justify;
        }
    }

    #Ingredients{
        input{
            text-align: center;

            &::placeholder{
                text-align: center;
            }

            &:focus{
                border-bottom-color: $main-orange !important;
                box-shadow: 0 2px 0 0 $main-orange !important;
                background-color: lighten(#F2F2F2,30);
                transition: all 0.6s ease-in-out;
            }
        }

        .ingredientItem{
            margin-top: 30px;

            .ingredientName{
                color: black ;
            }
        }

        #ingredientTotal{
            margin-top: 30px;
        }

        .btnMore, .btnLess, .btnCart, #btnCartTotal{
            cursor: pointer;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .btnMore,.btnCart,#btnCartTotal {
            background-color: #488C03;

            &:hover{
                background-color: darken(#488C03,20%);
            }
        }

        .btnLess{
            background-color: #BF0426;

            &:hover{
                background-color: darken(#BF0426,20%);
            }
        }

        .btnCart,#btnCartTotal{
            line-height: 2rem;
        }
    }

    #Comments{
        .commentUser{
            margin-top: 20px;
        }
    }

    #Details{
        img{
           margin-top: 30px;
        }
    }
}