
//Colors used in page
$main-orange : #F27507;

$active-link-color: #b35b18;

.row{
    margin-left: 20px;
}

.category{

    h1{
        font-size: 3.5rem;
    }

    ul {

        li{
            margin-top: 20px;

            &.active{
                a{
                    color: $active-link-color;
                    text-decoration: underline;
                }

                &::before{
                    content: "filter_list";
                    font-family: "Material Icons";
                    color: $active-link-color;
                    font-size: 2rem;
                    padding: 0;
                }
            }

            a{
                text-decoration: none;
                font-size: 2rem;
                color: $main-orange;

                &:hover{
                    color: $active-link-color;
                    text-decoration: underline;
                }
            }
        }
    }
    @media screen and (max-width: 1200px){
        h1{
            font-size: 2.5rem;
        }
        ul {
            justify-content: space-between;
            li{
                margin-top: 0;
            }
        }
    }
    @media screen and (max-width: 992px){
        h1{
            font-size: 2rem;
        }
        ul {
            justify-content: space-between;
            li{
                margin-top: 0;
                margin-bottom: 20px;

                &.active {
                    &::before{
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }

                a{
                    font-size: 1.5rem;
                }
            }
        }
    }
    @media screen and (max-width: 600px){
        h1{
            font-size: 1.5rem;
        }
        ul {
            justify-content: space-between;
            li{
                margin-top: 0;
                margin-bottom: 10px;

                &.active {
                    &::before{
                        font-size: 0.9rem;
                        font-weight: bold;
                    }
                }

                a{
                    font-size: 1rem;
                }
            }
        }
    }
}

.list{
    .searchbar{

        i.active{
            color: $main-orange;
            transform: scale(1.5);
            transition: all 0.6s ease-in-out;
        }
        input{
            background-color: #F2F2F2;
            border-radius: 10px;
            padding-left: 10px;
            font-size: 1.5rem;

            &::placeholder{
                font-size: 1.5rem;
            }

            &:focus{
                border-bottom-color: $main-orange !important;
                box-shadow: 0 2px 0 0 $main-orange !important;
                background-color: lighten(#F2F2F2,30);
                transition: all 0.6s ease-in-out;
            }
        }
    }
}

.items{
    a {
        color: $active-link-color !important;
        font-weight: bold;
        text-decoration: underline;
    }
    .card{
        cursor: pointer;
        .card-image{
            img{
                object-fit: cover;

            }
        }
        &:hover{
            transition: transform 0.5s ease-in-out;
            transform-origin: center;
            transform: scale(1.08);
        }
    }
}

.pageSelection{
 padding: 0 !important;

    ul{
        background-color: lighten($main-orange,40);
        border-radius: 30px;

        li{
            a{
                padding-left: 4px ;
                padding-right: 4px ;
            }
            &.active {
                background-color: $main-orange;
            }
            &.disable{
                i {
                    transition: all 0.5s ease-in-out;
                    transform: rotateY(180deg);
                    color: #b35b18 ;
                    cursor: default;
                }
            }
        }
    }
}