{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('RecipesNew') }}
{% endblock %}

{% block title %}New Recipes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <h1>Create a new Recipes</h1>

            {{ include('recipes/_form.html.twig') }}

            <a class="btn" href="{{ path('recipes_index') }}">back to list</a>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('RecipesNew') }}
{% endblock %}
